body {
  background-color: black;
  color: white;
  font-family: "DM Sans", sans-serif;
}

header {
  height: 30vh;
}
.left {
  font-weight: 400;
  font-size: 1.8rem;
  margin: 0 50px;
}

.left a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  display: flex;
}

nav li {
  list-style: none;
  margin: 0 23px;
}

nav li a {
  text-decoration: none;
  color: white;
}

.space {
  height: 10vh;
}

.lefttext {
  font-size: 3rem;
  animation: fadeIn 1s;
}
.righttext {
  font-size: 2.2rem;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.text {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.space1 {
  height: 45vh;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer2 {
  margin: 0 30px;
}

.footer2 li {
  margin: 0 30px;
  list-style-type: none;
}

.footer2 li a {
  text-decoration: none;
  color: white;
}
.footer1 {
  font-size: 1.1rem;
  margin: 0 50px;
}
