body {
  background-color: black;
  color: white;
  font-family: "DM Sans", sans-serif;
}

header {
  height: 30vh;
}
.left {
  font-weight: 400;
  font-size: 1.8rem;
  margin: 0 50px;
}

.left a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  display: flex;
}

nav li {
  list-style: none;
  margin: 0 23px;
}

nav li a {
  text-decoration: none;
  color: white;
}

.text {
  font-size: 4rem;
  text-align: center;
  animation: fadeIn 2s;
}


.arrow{
  display: flex;
  width: 3%;
  align-items: center;
  justify-content: center;
}

.direction{
display: flex;
align-items: center;
justify-content: center;
margin: 82px 0px;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



.space {
  height: 30vh;
}
.second {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 150px;
}
.sideh {
  font-size: 1.4rem;
}
.info {
  width: 32%;
  /* animation: fadeIn 2s; */

}
img {
  width: 90%;
  animation: fadeIn 2s;

}

.shots {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.ps {
  width: 10%;
  margin: 0 30px;
}
.space1 {
  height: 20vh;
}
hr {
  width: 45%;
}

.product2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 150px;
}
.info2 {
  width: 23%;
}
.image1 {
  width: 21%;
  /* margin-left: 40px; */
}
.frame {
  width: 112%;
}

.ps1 {
  width: 15%;
  margin: 0 30px;
  /* align-items: first baseline; */
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer2 {
  margin: 0 30px;
}

.footer2 li {
  margin: 0 30px;
  list-style-type: none;
}

.footer2 li a {
  text-decoration: none;
  color: white;
}
.footer1 {
  font-size: 1.1rem;
  margin: 0 50px;
}
